*{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;

}

.cal-container{
    height: 64%; 
    width: 20em;
    background:linear-gradient(silver,gold) ;
    margin-top: 8em;
}

div input{
    height: 8em;
    width: 90%;
    background-color:gray;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1.2em;
    /* font-size: ; */
 
}

input .p{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10em;
}

.panel p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0 15px 0 0;
} 



.btn{
    /* color: white; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-style: none;
    font-size: 18px;
    margin: 2px;
    cursor: pointer;
    margin-left: 0.8em;


}

/* button .btn.number#kk {
    height: 0px; */




.btn.special{
    color: black;
    background-color: rgb(120, 120, 120);

}

.btn.operator{
    color: white;
    background-color: rgb(252, 141, 13);

}

.btn.number, .btn.decimal{
    color: white;
    background-color: rgb(1, 1, 1);
}

#zero{
    border-radius: 50px;
    /* width: px; */
    
}

table #zero{
    width: 130px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#zero{
    padding-right: 3em;
}
